-e git+https://github.com/DrSkippy/Simple-n-grams.git@bbfd782614b39e2d0a1bc01fc6a75cc5df235e3e#egg=Simple-n-grams
-e git+https://github.com/twitterdev/twitter-python-ads-sdk.git@a3dd5819341e77aa469d0b4b3399f0bcd028c80c#egg=twitter-ads
